
.car-lower {
    position: absolute;
    width: 250px; /* Set the width to match the width of the house or as needed. */
    height: 325px;
    z-index: 10;
  }
  .car-bottom {
    position: relative; /* Required for positioning the pseudo-element */
    width: 150px;
    height: 13px;
    background-color: var(--lightGray);
    border-radius: 2px;
    border: 2px solid var(--lightGray); /* Your first border */
  }
  
  .car-bottom::before {
    content: ''; /* Necessary for the pseudo-element to work */
    position: absolute; /* Absolute positioning relative to the .car-bottom */
    top: -4px; /* Adjust these values to match the border thickness */
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 4px; /* Slightly larger radius for the rounded corners */
    border: 2px solid var(--borderBlack); /* The second border */
    
  }
  
  .car-body {
    position: absolute;
    transform: rotate(-180deg);
    width: 150px;
    height: 20px;
    background-color: var(--lightGray);
    border-radius: 0 0 10px 20px;
  }
  
  .window1 {
    position: relative;
    top: 10px;
    left: 20px;
    width: 70px;
    height: 50px;
    background-color: var(--window);
    clip-path: polygon( 
      55% 0, 
      100% 0, 
      100% 100%, 
      0 100%, 
      0 60%);
  }
  
  
  