/* Sets up the container to center its contents and transitions the background color */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  font-weight: bold;
  transition: background-color 1.3s;
  background-color: white;
  position: relative; /* Needed for absolute positioning of children */
}

/* Changes the background color of the container to black */
.loading-container.fade-to-black {
  background-color: black;
}

/* Makes the background of the container transparent black */
.loading-container.transparent-background {
  background-color: black;
}

/* Defines an animation to fade out the text by decreasing its opacity */
@keyframes fadeOutText {
  from {
    opacity: 1; /* Fully visible starting point */
  }
  to {
    opacity: 0; /* Fully transparent endpoint */
  }
}

/* Defines an animation for the text color to fade in from transparent to purple */
@keyframes fadeInColor {
  from {
    color: transparent;
  }
  to {
    color: rgba(87, 20, 255, 1);
  }
}

/* Initial style for the Logo, including setup for text stroke and transparent fill color */
.Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
  font-weight: bold;
  -webkit-text-stroke: 2px #5714ff;
  text-transform: uppercase;
  color: transparent; /* Starts without fill */
  opacity: 1;
}

/* Triggers the fadeInColor animation to fill the text color */
.Logo.fill-text {
  animation: fadeInColor 2s ease-out 1s forwards;
}

/* Applies the fadeOutText animation to fade both the fill and the stroke */
.Logo.fade-text-to-black {
  animation: fadeOutText 2s ease-out forwards; /* Adjusted to match your fade effect timing */
}

@keyframes spotlightComeIn {
  from {
    transform: translate(-50%, -50%) scale(0.1); /* Start scaled down */
    opacity: 0.5; /* Make sure it's somewhat visible at the start */
    box-shadow: 0 0 0 1000px rgba(0,0,0,0.7); /* Start with a slightly darker shadow */
  }
  to {
    transform: translate(-50%, -50%) scale(1); /* Scale to full size */
    opacity: 1; /* Fully visible */
    box-shadow: 0 0 0 2000px rgba(0,0,0,0.3); /* Final shadow size with more transparency */
  }
}

.spotlight {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 850px; /* Define full size */
  height: 850px; /* Define full size */
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255,255,255,1) 30%, transparent 60%);
  transform: translate(-50%, -50%) scale(0.1); /* Start small */
  opacity: 0; /* Start fully transparent */
  pointer-events: none;
  animation-fill-mode: forwards; /* Ensures the final state of the animation is maintained */
  box-shadow: 0 0 0 2000px rgb(0, 0, 0); /* Soften the shadow around the spotlight with more transparency */
}

.spotlight.spotlight-visible {
  animation: spotlightComeIn 2.5s ease-out forwards; /* Use the animation */
}

@keyframes spotlightGoOut {
  from {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    box-shadow: 0 0 0 2000px rgb(0, 0, 0); /* Final shadow size with more transparency */
  }
  to {
    transform: translate(-50%, -50%) scale(50); /* Scale up to ensure it fills the screen */
    opacity: 0;
    box-shadow: 0 0 0 10000px white; /* Change to a large white shadow that fills the screen */
  }
}

.spotlight.spotlight-expand {
  animation: spotlightGoOut 4s ease-in-out forwards; /* Use the animation */
}

/* Makes the background of the container white */
.loading-container.background-white {
  transition: background-color 2s;
  background-color: white !important;
}



