@keyframes neon {
  from {
    filter: brightness(0);
  }
  to {
    filter: brightness(1);
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutToBlack {
  from {
    opacity: 1;
    background-color: transparent;
  }
  to {
    opacity: 0;
    background-color: black;
  }
}

.neonText {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  font-size: 10vw; /* Responsive font size */
  font-weight: bold;
  color: transparent; /* Initially transparent */
  -webkit-text-stroke: 2px #5714ff; /* Neon outline */
  text-transform: uppercase;
  animation: neon 1.5s ease-in-out infinite alternate;
  margin: 0; /* Remove default margins */
}

.filledText {
  color: #5714ff; /* Fills the text with Neon color */
  -webkit-text-stroke: 0; /* Removes the outline */
}


@media (max-width: 600px) {
  .neonText {
    font-size: 15vw;
  }
}

@media (min-width: 1024px) {
  .neonText {
    font-size: 8vw;
  }
}

.blinkCursor {
  border-right: 0.1em solid #ff3314; /* Cursor color */
  animation: blink 1s step-end infinite;
}

@keyframes fadeOutToBlack {
  0% {
    background-color: transparent;
    opacity: 1;
  }
  100% {
    background-color: black;
    opacity: 1;
  }
}

.loadingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: background-color 2s ease-in-out; /* Adjusted for a smoother transition */
}

.fadeOut {
  position: fixed;
  width: 100%;
  height: 100%;
  animation: fadeOutToBlack 3s forwards; /* Slower fade to black */
}
