/* LoginLoadingPage.css */

:root {
  /* Color variables */
  --lightBlue: #bfe4ed;
  --darkBlue: #65a1dc;
  --lightPink: #fdd4d6;
  --darkPink: #eab0e0;
  --lightPurple: #c1b2d3;
  --darkPurple: #745e8d;
  --lightBrown: #d0c9a7;
  --mediumBrown: #a59966;
  --darkBrown: #534f33;
  --lightGreen: #92d955;
  --darkGreen: #84c950;
  --yellow: #f3eb8a;
  --red: #a74a43;
  --white: #fdfdff;
  --shadow: #1E2019;
  --tealGreen: #C7E6D4;
}

:root {
  /* ... other variables ... */
  --houseWidth: 300px; /* Example value, replace with your house width */
  --carWidth: 200px;   /* Example value, replace with your car width */
}

.loadingPageContainer {
  display: flex;
  justify-content: flex-end; /* Keeps children aligned to the right side */
  align-items: flex-start; /* Aligns children to the top of the container */
  height: 100vh; /* Full viewport height */
  overflow-y: hidden; /* Prevents horizontal scrolling */
}

.houseContainer {
  position: relative;
  margin-top: 100px;
  bottom: 0px;
  z-index: 9; 
}

.carContainer {
  position: relative; /* This ensures that the car can move freely */
  margin-top: 420px;
  z-index: 8; 
  left: 0; /* Start from the far left */
 
}


