.events-page-container {
  background: #398380;
  background: linear-gradient(to bottom, #398380 30%, #ffffff 30% 100%);
  height: 100vh;
  padding: 20px;
}

.events-page-title {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  font-size: 65px;
  color: #fff;
}

.events-form {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.requirements-box {
  background-color: #BBDBD9;
  margin: 10px;
  padding: 10px;
  border: 1px solid #fffefe;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.form-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.events-group-box {
  background-color: #BBDBD9;
  margin: 10px;
  padding: 10px;
  border: 1px solid #fffefe;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  width: calc(33.333% - 20px);
}

.events-group-box h3 {
  text-align: center;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.events-checkbox-item {
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.events-checkbox {
  margin-left: 8px;
}

.events-date-input,
.events-text-input {
  width: 100%;
  margin-bottom: 10px;
}

.submit-button {
  background-color: #BBDBD9;
  background-color: #86B6B6;
  color: #ffffff;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  width: calc(33.333% - 20px);
  margin: 0 auto; /* Center the button horizontally */
}

.submit-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  .events-group-box {
    width: 100%;
    margin: 10px;
  }
  .submit-button {
    width: 95%;
    margin: 10px;
  }
}
