  .LiveFeed-page {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    background: white;
    background: #f1f1f1; /* Default color of the line */
    background: #BBDBD9;
    background: #ade4f5;
    background: white;
    background: #BBDBD9;
    justify-content: flex-start; /* Aligns children to the start of the container */
    text-align: center;
    height: 100vh;
    width: 100%;
  }

  .LiveFeed-text {
    font-size: 55px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 35px; /* Adds space between the text and the form */
  }

  @media (max-width: 768px) {
    .LiveFeed-page{
        min-height: 42vh;
    }
    .tv-live-feed-display {
        bottom: 10;
        transform: scale(0.6);
    }

    .tv-live-feed-container {
        top: 0;
    }
}

@media (max-width: 468px) {
    .LiveFeed-page{
        min-height: 42vh;
    }

    .tv-live-feed-display {
        transform: scale(0.55);
    }
}