.VideoLogs-page {
    background: linear-gradient(to bottom, #77b4b2 30%, #ffffff 30% 100%);
    height: 100vh; /* Use the full height of the viewport */
    padding: 20px;
    padding-top: 70px;
    display: flex;
    flex-direction: row;
}

.filter-sidebar {
    width: 260px; /* Keep your fixed width */
    display: flex;
    flex-direction: column;
}

.filter-title {
    font-weight: bold;
    color: black;
  }
  
.filter-controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    box-sizing: border-box; /* Makes sure padding does not add to the width */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3),  /* Right and bottom shadow */
                -5px -5px 15px rgba(0, 0, 0, 0.1); /* Left and top shadow for 3D effect */
}

 .sort-controls {
    display: flex;
    flex-direction: column;
}

 .sort-controls label {
    margin: 5px 0;
}

 .sort-controls select {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.video-list {
    flex-grow: 1;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

.video-item {
    width: 320px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3),  /* Right and bottom shadow */
    -5px -5px 15px rgba(0, 0, 0, 0.1); /* Left and top shadow for 3D effect */
    overflow: hidden;
}

.video-item video {
    width: 100%;
}
