.VideoLogs-page {
    margin-top: 50px; /* Adjust this value to the height of your nav bar */
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
}

.filter-sidebar {
    width: 250px; /* Ensure this is enough to fit all labels without wrapping */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.filter, .sort-controls {
    display: flex;
    flex-direction: column;
}

.filter label, .sort-controls label {
    margin: 5px 0;
}

.filter div, .sort-controls select {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.video-list {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

.video-item {
    width: 320px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    overflow: hidden;
}

.video-item video {
    width: 100%;
}
