:root {
  /* Color variables */
  --lightBlue: #ade4f5;
  --firstMountain: #BBDBD9;
  --secondMountain: #86B6B6; /* Example colors */
  --thirdMountain: #398380;
  --fourthMountain: #004B4D; 
  --fifthMountain: #00383B;
  --cloud-color: #ffffff;
}

.MountainRangesContainer {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sky {
  position: relative;
  height: 100%; /* Adjust the vh value to suit your design */
  background: var(--lightBlue);
}

.MountainRanges-sun {
  position: absolute;
  top: 23%;
  right: 40%;
  transform: translateX(-50%);
  width: 190px;
  height: 190px;
  background-color: var(--cloud-color);
  border-radius: 50%;
  z-index: 0;
  box-shadow: 0 0 8px 2px var(--cloud-color); /* Optional glow effect */
}

/* Set your SVGs to a percentage width of the parent container to maintain aspect ratio */
.mountain1, .mountain2, .mountain3, .mountain4, .mountain5, .cloud1, .cloud2 {
  position: absolute;
  top: 22px;
  z-index: 1;
 
}

 .sky, .mountain1, .mountain2, .mountain3, .mountain4, .mountain5, .cloud1, .cloud2, .MountainRanges-sun {
  visibility: hidden;
}

/* Group 1 */
.mountain4.animate {
  animation: popUpMountain 2s ease-out forwards;
  animation-delay: 0s;  
}

.mountain5.animate {
  animation: popUpMountain 1.2s ease-out forwards;
  animation-delay: 0.3s; /* Adjust as needed */
}

.sky.animate {
  animation: slideDownFromTop 1.2s ease forwards;
  animation-delay: 0s;
}

/* Group 2 */
.mountain1.animate {
  animation: popUpMountain 3s ease-out forwards;
  animation-delay: 1.9s; /* Adjust as needed */
}

.mountain3.animate {
  animation: popUpMountain 1.5s ease-out forwards;
  animation-delay: 2s; 
}

/* Group 3 */
.cloud1.animate {
  animation: slideInFromLeft 1s ease forwards;
  animation-delay: 2s; 
}

.cloud2.animate {
  animation: slideInFromRight 1s ease forwards;
  animation-delay: 2s; 
}

/*Group 4 */
.MountainRanges-sun.animate {
  animation: popUpMountain 3.2s ease-out forwards;
  animation-delay: 1.8s; 
}

.mountain2.animate {
  animation: popUpMountain 3.5s ease-out forwards;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes popUpMountain {
  0% {
    transform: translateY(100%);
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes slideDownFromTop {
  0% {
    transform: translateY(-100%);
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}