.tvPage-page {
    position: relative;
    overflow: hidden;
    flex-direction: column;
    height: 100vh;
    position: relative;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
}

.tvPage-content-wrapper {
    opacity: 0; /* Start as invisible but take up space */
    transition: opacity 1s ease-in-out;
    min-height: 50vh; /* Ensure it has some height */
    width: 100%; /* Ensure it spans the width */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.is-visible {
    opacity: 1;
}

.tv-display-container {
    position: relative;
}

.tv-text-container{
    margin-top: 20px;
}
.tv-text-container, .tv-display-container {
    display: flex;
    justify-content: center;
    font-size: clamp(1.2rem, 4vw + 1rem, 6rem);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;

}

@media (max-width: 768px) {
    .tvPage-page{
        min-height: 42vh;
    }
    .tv-setting-display {
        bottom: 10;
        transform: scale(0.5);
    }

    .tv-display-container {
        top: 0;
        background-color: yellow;
    }

    .tv-text-container{
        background-color: green;
        margin-bottom: 0;
    }
}

@media (max-width: 468px) {
    .tvPage-page{
        min-height: 42vh;
    }

    .tv-setting-display {
        transform: scale(0.39);
    }
}