.home-container {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  min-height: 100vh; /* Use min-height instead of height to allow container to grow */
  position: relative;
}

.content-wrapper {
  display: flex; /* Keep this as a row flex container */
  width: 100%; /* It will take the full width of its parent */
  min-height: 100vh; /* Minimum height is the height of the viewport */
}

.text-container {
  flex: 1; /* Takes half of the space in the flex container */
  font-size: clamp(1.2rem, 4vw + 1rem, 6rem);
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: bold;
  line-height: 1.6;
  text-align: left;
  align-content: center;
  justify-content: center;
}

.Phone-container {
  display: flex;
  flex: 1; /* Takes half of the space in the flex container */
  align-content: center;
  justify-content: center;
}

.Phone-container-background{
  position: relative;
  display: flex;
  align-self: center;
}

.phone-background-box {
  position: absolute; /* Absolute positioning within the relative container */
  background-color: #f0f0f0;
  background-color: #C7E6D4;
  background-color: #bfe4ed;
  border-radius: 10px; /* Rounds the corners to mimic a phone's shape */
  width: 75%;
  height: 75%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; /* This will automatically calculate the top, bottom, left, and right margins, centering the element */
}

.phone-one-setting{
  transform-origin: top;
  transform: scale(0.7); /* Scale down the phones */
}

.phone-two-setting{
  transform-origin: bottom;
  transform: scale(0.7); /* Scale down the phones */
}

.timeline-wrapper {
  width: 100%; /* Full width */
}


@media (max-width: 768px) {
  .Phone-container-background {
    height: calc(40vw * 2); /* Update this to the height of the phones when scaled */
    width: 100%;
  }

  .content-wrapper {
    flex-direction: column-reverse; /* Stack the containers vertically on smaller screens */
    height: auto; /* Let the height adjust to the content */
  }

  .phone-one-setting, .phone-two-setting {
    position: absolute; /* Absolute positioning relative to the parent */
    width: 40vw; /* Set a viewport relative width */
    height: 40vw; /* Set a viewport relative height, you can adjust based on aspect ratio */
    max-width: 300px; /* Set a max width for larger phones */
    max-height: 300px; /* Set a max height to maintain aspect ratio */
  }

  .phone-one-setting {
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    transform: scale(0.5); /* Scale down the phone */
  }

  .phone-two-setting {
    top: 0; /* Align to the bottom */
    right: 40px; /* Align to the right */
    transform: scale(0.5); /* Scale down the phone */
  }

}
