/* Set the navbar to be a flex container, distribute items evenly, align items in the center, span full width, and position it relative to its normal position */
.navbar {
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0; 
  z-index: 1030;
  padding: 0 20px; 
  background: transparent; 
  transition: all 0.3s ease-in-out; 
}

/* Style the sign-in button with absolute positioning, set its right and top positions, remove border, add shadow, set background color, and vertically center it */
.navbar-login-button {
  position: absolute; 
  right: 20px; 
  top: 50%; 
  border-radius: 0;
  font-weight: bold;
  border: none; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  background: #60c3db; 
  background: #65a1dc;
  transform: translateY(-50%); 
}

/* Style the navbar brand with bold weight, large font size, and a specific color */
.navbar-brand {
  font-weight: bold; 
  font-size: 2rem; 
  color: #333; 
}
 
/* Adjust the sign-in button's position for screens smaller than 991px, making it static and aligning it to the end of the container */
@media (max-width: 991px) {
  .navbar-login-button {
    position: static; 
    transform: none; 
    margin-left: auto; 
  }
}

.navbar-login-button:hover{
  background-color: #65a1dc;
  background: #60c3db; 
}

