/* Style the sign-in button with absolute positioning, set its right and top positions, remove border, add shadow, set background color, and vertically center it */
.log-out-button {
  position: absolute; 
  right: 20px; 
  top: 50%; 
  border-radius: 0;
  border: none; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  background: #00383B; 
  transform: translateY(-50%); 
}

/* Adjust the sign-in button's position for screens smaller than 991px, making it static and aligning it to the end of the container */
@media (max-width: 991px) {
  .log-out-button {
    position: static; 
    transform: none; 
    margin-left: auto; 
  }

  .navbar.expanded {
    background-color: transparent;
  }
}

.navbar.small-screen {
  background-color: white; /* Set the background to white on small screens */
  transition: background-color 0.3s; /* Smooth transition for the color change */
}


.log-out-button:hover{
  color: white;
}
/* Change the color of navigation links on hover */
.nav-link:hover {
  color: #5714ff; 
}



/* Set the height of the collapsed navbar content to 100% */
.centered-collapse {
  height: 100%; 
}