/* LoginLoadingPage.css */

:root {
  /* Color variables */
  --lightBlue: #bfe4ed;
  --darkBlue: #65a1dc;
  --lightPink: #fdd4d6;
  --darkPink: #eab0e0;
  --lightPurple: #c1b2d3;
  --darkPurple: #745e8d;
  --lightBrown: #d0c9a7;
  --mediumBrown: #a59966;
  --darkBrown: #534f33;
  --lightGreen: #92d955;
  --darkGreen: #84c950;
  --yellow: #f3eb8a;
  --red: #a74a43;
  --white: #fdfdff;
  --shadow: #1E2019;
  --tealGreen: #C7E6D4;
}

:root {
  /* ... other variables ... */
  --houseWidth: 300px; /* Example value, replace with your house width */
  --carWidth: 200px;   /* Example value, replace with your car width */
}

.loadingPageContainer {
  display: flex;
  justify-content: flex-end; /* Ensures items align to the end of the container (right side) */
  align-items: flex-start; /* Aligns children to the top of the container */
  height: 100vh; /* Full viewport height */
  position: relative; /* This is important for absolute positioning within the container */
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

.houseContainer {
  margin-top: 250px;
  margin-right: 50px;
  bottom: 0px;
  z-index: 8; 
  margin-left: auto; /* This will push the house to the right side of its container */
}

.carContainer {
  position: relative; /* This ensures that the car can move freely */
  margin-top: 540px;
  z-index: 8; 
  left: 0; /* Start from the far left */
}

.roadContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Adjust the height as needed */
  background-color: #333; /* Dark asphalt color */
  z-index: 7; /* Ensure it's below the car and house */
}

.roadLine {
  position: absolute;
  top: 50%; /* Center vertically in the road container */
  left: 0;
  width: 100%;
  height: 2px; /* Height of the road line */
  background-color: #fff; /* White road line color */
  z-index: 8;
}

.welcomeMessage {
  position: absolute;
  top: -100px; /* Start off-screen */
  left: 50%;
  transform: translateX(-50%);
  transition: top 1s ease-out; /* Transition for the message */
  z-index: 10; /* Above other elements */
  font-size: 2rem;
  color: var(--darkBlue); /* Example color, change as needed */
  opacity: 0; /* Start with the message invisible */
  transition: top 1s ease-out, opacity 1s ease-in; /* Transition for top and opacity */
}

/* Position the message properly after the car stops */
.loadingPageContainer .welcomeMessage {
  top: 10vh; /* Position the message at 10% from the top of the viewport */
  opacity: 1; /* Make the message visible */
}


