.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #BBDBD9;
  height: 100vh; /* Use the full height of the viewport */
  width: 100%; /* Use the full width of the viewport, this is optional if your container is already full width */
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  background-color: #ffffff;
  width: 100%; 
  padding: 50px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 0;
}

.login-title {
  font-size: 25px; /* Size of the time text */
  padding-bottom: 5px;
  font-weight: bold; /* Makes the font bold */
  text-transform: uppercase; /* Converts text to uppercase */
}

.login-button {
  width: 100%;
  padding: 10px 0;
  border: 1px solid #dadddd;
  cursor: pointer;
  background-color: #86B6B6;
  color: #ffffff;
  font-weight: bold; /* Makes the font bold */
  text-transform: uppercase; /* Converts text to uppercase */
}

.sign-up-button {
  width: 100%;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #00383B;
  text-transform: uppercase; /* Converts text to uppercase */
}