.signup-page {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #a1c4fd, #c2e9fb); /* Adjust the gradient colors as needed */
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px; /* Or any space you want between input groups */
}

.input-label {
  color: black;
}

.input-with-icon {
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  border-bottom: 2px solid #000;
  transition: border-bottom-color 0.3s ease; /* Transition for the border color */
}

.input-icon {
  color: black;
  margin-right: 5px;
}

.input-field {
  flex: 1;
  border: none;
  padding: 5px 0; /* Adjust padding to vertically center text */
  background-color: transparent; /* Ensures the input field does not cover the border */
}

/* Remove outline and box-shadow on focus */
.input-field:focus {
  border: none;
}

/* Change the border-bottom-color to red when the input-with-icon is focused */
.input-with-icon:focus-within {
  border-bottom-color: blue; /* Red bottom border on focus */
}