.signup-page {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #a1c4fd, #c2e9fb); /* Adjust the gradient colors as needed */
}

.form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 48px; /* Slightly larger to match the increased form size */
  color: #333;
  line-height: 1.2;
  text-align: center;
}

.input-label {
  color: black;
  font-family: Poppins-Bold;
  padding-top: 4px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 50%;
  max-width: 600px;
}

.signup-form input {
  border: none;
  font-family: Poppins-Bold;
  border-bottom: 2px solid #ccc;
  padding: 0 15px 15px 0;
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
}

.signup-form input:focus {
  outline: none;
  border-bottom: 2px solid #007bff;
}

.signup-form button {
  background-color: #007bff;
  font-family: Poppins-Bold;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 20px;
  margin-top: 20px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-form button:hover {
  background-color: #0056b3;
}

.signup-form .sign-up-button{
  color: red;
  background-color: transparent;
  border: none;
  margin-top: 20px;
  margin-bottom: 0;
}

.signup-form .sign-up-button:hover{
  color: #0056b3;
}

.error {
  color: red;
  margin-bottom: 15px;
}
