.App {
  text-align: center;
}

/* Adjust the value based on your navbar's height */
.main-content {
  padding-top: 70px; /* Example value, adjust as needed */
}

.fade-in, .fade-out {
  transition: opacity 1s ease-out;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  animation: fadeInAnimation 1s ease-out forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
